.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

html{
  background: url("https://res.cloudinary.com/dvysqqdqe/image/upload/v1599116522/ah7hgbqhsolmdrkmswp2.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* //The Pokemon list */
#poke-list{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.name{
  text-transform: capitalize;
}

/* // The Modal */
.Modal{
  position: absolute;
    top: 4em;
    left: 4em;
    right: 4em;
    bottom: 4em;
    background-color: purple;
    box-shadow: 2px 2px black;
    text-align: center;
}

#sprite_layout{
  display: flex;
  justify-content: space-evenly;
}


