.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

html{
  background: url("https://res.cloudinary.com/dvysqqdqe/image/upload/v1599116522/ah7hgbqhsolmdrkmswp2.jpg") no-repeat center center fixed;
  background-size: cover;
}
button{
font-family: 'Press Start 2P', cursive;
transition: .2s ease-out;
}

button:hover{
cursor: pointer;
transition: .2s ease-out;
transform: scale(1.2);
}

/* Title */
#title{
  position:fixed;
  text-align: center;
  width: 100%;
  background: linear-gradient(to bottom, #C93530 50%,#1C2721 90%);
  
}
.intro{
  background: linear-gradient(to right,#EEF2F4 25%, #5CBEFA 45%, #0C55A6 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Hero */
#hero{
  margin-top: 4rem;
}
/* Search area */
#poke-types{
  font-family: 'Press Start 2P', cursive;
  border-radius: 0.6rem;
  padding: 0.5rem;
  margin: 0.4rem;
  background: linear-gradient(to bottom, #C93530 30%,#1C2721 95%);
  color: #EEF2F4;
  font-size: 1.2rem;
  text-align: center;
}


#btn-submit{
  border-radius: 1rem;
  margin: 0.4rem;
  padding: 0.5rem;
  background: linear-gradient(to right, #0C55A6, #FDFEFC);
}

/* //The Pokemon list */
#poke-list{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50vh;
  overflow: scroll;
}

.more-info{
  background: linear-gradient(to bottom, #C93530 40%,#1C2721 90%);
  color:whitesmoke;
  border-radius: 0.9rem;
  padding: 0.7rem;
  box-shadow: 1px 1px black;
}

.name{
  text-transform: capitalize;
}

/* // The Modal */
.Modal{
  position: absolute;
  margin-top: -3.7rem;
    top: 3rem;
    left: 3rem;
    right: 3rem;
    bottom: 3rem;
    background: linear-gradient(to bottom, #C93530 40%,#1C2721 90%);
    box-shadow: 2px 2px 2px black;
    text-align: center;
}

.modal_titles{
  background: linear-gradient(to right,#EEF2F4 35%, #5CBEFA 55%, #0C55A6 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Data in Modal*/
#data{
  font-family: 'Press Start 2P', cursive;
}
.sprite_layout{
  display: flex;
  justify-content: space-evenly;
}
.no_data{
  height: 6rem;
  padding: 1rem;
}
.ability, .typed_poke{
  text-transform: capitalize;
}
.mini_list{
  color: whitesmoke;
}
.status{
  display: inline
}
.stat_name{
  color: whitesmoke;
  text-transform: capitalize;
}
.base_stat{
  padding: 0.5rem;
  color: whitesmoke;
  display: inline;
}
.close{
  background: linear-gradient(to left, #C93530 25%,#1C2721 80%);
  padding: 0.7rem;
  margin: 0.6rem;
  border-radius: 1rem;
  box-shadow: 1px 1px whitesmoke;
  color: whitesmoke;
}

/* //Footer */
#footer{
  background: linear-gradient(to top, #C93530 50%,#1C2721 90%);
  background-position: center;
}
#copy{
  background: linear-gradient(to right,#EEF2F4 35%, #5CBEFA 55%, #0C55A6 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  padding: 0.8rem;
}
.github{
  height: 5rem;
  padding: 0.5rem;
  margin: 1rem;
  transition: .2s ease-out;
}
.github:hover{
  transition: .2s ease-out;
  transform: scale(1.2);
}

.linkedin{
  height: 5rem;
  padding: 0.5rem;
  margin: 1rem;
  transition: .2s ease-out;
}

.linkedin:hover{
  transition: .2s ease-out;
  transform: scale(1.2);
}

/* Media Queries */

@media only screen and (max-width: 450px){
  #hero{
    margin-top: 6.5rem;
  }
  #poke-types{
    font-size: 0.6rem;
  }
  #poke-list{
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
  }
  .name{
    font-size: 1.2rem;
  }
  .Modal{
    margin-top: -3.8rem;
  }
  
  .sprite_layout{
    display: block;
  }
  .modal_titles{
    font-size: 1rem;
  }
  .typed_poke .ability{
    font-size: 1rem;
  }
  .mini_list{
    font-size: 0.8rem;
  }
  .stat_name{
    font-size: 0.8rem;
  }
};